<% @tweets.each do |e| %>
  <p>
    <%= e.message %>
    <%= e.like_users.count %>

    <% if logged_in? %>
      <% if e.liked?(current_user) %>
        <%= link_to 'いいね削除', tweet_likes_path(e), data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to 'いいね', tweet_likes_path(e), data: { turbo_method: :post } %>
      <% end %>
    <% end %>
    <%# ツイート削除リンク %>
    <%= link_to '削除', tweet_path(e), data: { turbo_method: :delete } %> 
  </p>
<% end %>
<br>

<% end %>



<%= link_to "新規追加", new_tweet_path %><br>

<%= link_to "ログイン", top_login_form_path %><br> <%= link_to "ログアウト", top_logout_path %><br>

ログイン中UID：<%= current_user.uid if current_user %>

